.card{
    width: 200px; 
    min-width: 200px; 
    border: 3px solid black; 
    border-radius: 20px; 
    margin-left: 20px; 
    height: 400px;
    min-height: 400px;

}

.wrapper{
    position: relative;
    background-image: url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876028.jpg?w=826&t=st=1684398460~exp=1684399060~hmac=9653116b7fc1931ff346ee57178c973aa7adf32f879a2a2dae1881a5187624a7);
}